.example-spacer {
  flex: 1 1 auto;
}

mat-sidenav-container, mat-sidenav , mat-sidenav-content {
  height: 100%;
}

mat-sidenav {
  width: 35%;
}

.desktop-nav {
  display: none;
}

main {
  margin-top: 2rem;
}

.sidenav-toggle {
  display: block;
}

@media only screen and (min-width: 576px) {
  .desktop-nav {
    display: block;
  }

  .sidenav-toggle {
    display: none;
  }
}

