<section class="card-container">
  <form (ngSubmit)="onStartTraining(formTraining)" #formTraining="ngForm">
    <mat-card>
      <mat-card-header>
        <mat-card-title>وقتشه که شروع کنی</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field>
          <mat-label>ورزش موردنظر</mat-label>
          <mat-select ngModel name="exercise" required>
            <mat-option
              *ngFor="let exercise of exercises"
              [value]="exercise.id"
            >
              {{ exercise.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formTraining.controls['exercise']?.errors?.['required']"
            >This field is required</mat-error
          >
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-raised-button
          type="submit"
          [disabled]="formTraining.invalid"
          color="primary"
        >
          شروع
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
